@await Html.PartialAsync("_SideBarPartial")

<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Вітаємо на сайті будівельної компанії "Флагман"</h2>
				<p>Будуй своє майбутнє разом з нами</p>
			</header>
			<span class="image featured"><img src="~/img/bg.jpg" alt="welcome"/></span>
		</article>
	</div>
</div>