<div class="col-4 col-12-medium">
	<div id="sidebar">

		<section>
			<header class="major">
				<h2>Вітаємо</h2>
			</header>
			<p>
				Ми команда професіоналів, яка вже понад 10 років створює надійні та міцні об'єкти,
				втілюючи найамбітніші архітектурні задуми. Наша місія - будувати для вас комфортне та
				безпечне майбутнє. Ми пишаємося своєю репутацією та кожним проектом, в основі якого лежать
				якість, сучасні технології та увага до деталей.
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class ="button icon solid fa-info-circle">
					Перейти до послуг
					</a>
			</footer>
		</section>
	</div>
</div>